# Auto detect text files and normalize line endings to LF
* text=auto

# Explicitly declare text files
*.js text
*.json text
*.html text
*.css text
*.md text
*.sql text

# Declare files that will always have CRLF line endings on checkout
*.bat text eol=crlf

# Denote binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
